
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@700&display=swap');

body {
  height: 100vh;
}

h1 {
  align-self: center;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 700;
  color: white;
  font-size: 4.5em;
}

.container {
  display: flex;
  align-content: center;
  justify-content: center;
}

.logo {
  display: flex;
  background-color: rgb(84,45,146);
  border-radius: 50%;
  width: 19.5em;
  height: 19.5em;
  justify-content: center;
  margin-top: 25vh;
}

.txt {
  display: flex;
}
